EfTest/_ReSharper.Caches/
EfTest/EF6Test/bin/
EfTest/EF6Test/obj/Debug/EF6Test.csproj.FileListAbsolute.txt
EfTest/.vs/EF6Test/v15/
EfTest/EF6Test/obj/
EfTest/packages/
XamarinFormsTest/packages/
XamarinFormsTest/.vs/
XamarinFormsTest/XamarinFormsTest/XamarinFormsTest.Android/bin/
XamarinFormsTest/XamarinFormsTest/XamarinFormsTest.Android/obj/
XamarinFormsTest/XamarinFormsTest/XamarinFormsTest/bin/
XamarinFormsTest/XamarinFormsTest/XamarinFormsTest/obj/
Forms/packages/
Forms/Forms/Forms/bin/
Forms/Forms/Forms/obj/
Forms/Forms/Forms.Android/bin/
Forms/Forms/Forms.Android/obj/
/Forms/Forms/Forms.Driving/obj
/Forms/Forms/Forms.Driving/bin/Debug/netstandard2.0
/Forms/Forms/Forms.Driving/bin/Debug/netstandard1.6
