EfTest/_ReSharper.Caches/
EfTest/EF6Test/bin/
EfTest/EF6Test/obj/Debug/EF6Test.csproj.FileListAbsolute.txt
EfTest/.vs/EF6Test/v15/
EfTest/EF6Test/obj/
EfTest/packages/
XamarinFormsTest/packages/
XamarinFormsTest/.vs/
XamarinFormsTest/XamarinFormsTest/XamarinFormsTest.Android/bin/
XamarinFormsTest/XamarinFormsTest/XamarinFormsTest.Android/obj/
XamarinFormsTest/XamarinFormsTest/XamarinFormsTest/bin/
XamarinFormsTest/XamarinFormsTest/XamarinFormsTest/obj/
Forms/.vs
Forms/packages/
Forms/Forms/Forms/bin
Forms/Forms/Forms/obj
Forms/Forms/Forms.Android/bin
Forms/Forms/Forms.Android/obj
Forms/Forms/Forms.Driving/bin
Forms/Forms/Forms.Driving/obj
/SignalR/packages
/SignalR/SignalR.Client/bin/Debug
/SignalR/SignalR.Client/obj/Debug
/SignalR/SignalR.Server/bin/Debug
/SignalR/SignalR.Server/obj/Debug
/SignalR/.vs/SignalR/v15
/SignalR/.vs/config
